.page_header {
    background-color: #363844;
    padding: 20px;
}


.page_header {
    display: flex;
    overflow: hidden;
}

.buger_menu div {
    width: 25px;
    height: 3px;
    background-color: gray;
    margin: 3px;
}

.welcome img{
    position: relative;
    width: 360px;
    height: 462px;
}

.text {
    position: absolute;
    text-align: center;
    left: 20px;
    top: 48px;
    color: white;
 }